body {
  background-color:red;
}

ul {
  display: inline-block; }
  ul li {
    display: inline;
    margin-right: 25px;
    font-size: 18px; }

header {
  height: 100px; }

.left {
  display: inline; }

.right ul {
  float: right;
  margin-top: 25px; }
  .right ul li {
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 10px; }

#info {
  text-align: center; }
  #info div button, #info div h6 {
    margin-top: 10px; }

#bgImage {
  height: 382px;
  background-image: url("../images/bgImage.jpg");
  background-size: cover;
  /* background-position: -300px -50px; */ }
