ul{
	display: inline-block;
	li{
	display: inline;
	margin-right: 25px;
	font-size: 18px;
	}
}

.left{
	display: inline;
}

.right{
   
	ul{
        float: right;
        margin-top: 25px;
        li {
             border-left: 2px solid black;
            border-right: 2px solid black;
        }
	} 
}
#bgImage {
    height: 382px;
    background-image: url('../images/bgImage.jpg')
}